{{>header_cliente}}
<header>
    <section class="textos-header">
        <h1 style="color:#fff">Bienvenido!</h1>
        <h2 style="color:#fff">Detalles del producto.</h2>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #f8f9fa;"></path>
        </svg></div>
</header>
<div class="product_image_area section_padding">
    <div class="container">
        <div class="row s_product_inner justify-content-between">
            <div class="col-lg-5 col-xl-7">
                {{#each producto}}
                     <img src="../{{imagen}}"  width="500px" height="450px" style="border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;">
                
            </div>
            <div class="col-lg-5 col-xl-4">
                <form action="/agregar/carrito" method="post">
                
                <div class="s_product_text">
                    <input type="hidden" name="id" value="{{id}}">
                    <input type="hidden" name="imagen" value="{{imagen}}">
                    <input type="hidden" name="nombre" value="{{nombre}}">
                    <h3>{{nombre}}</h3>
                    <input type="hidden" name="precio" value="{{precio}}">
                    <h2>${{precio}}.00</h2>
                    <ul class="list">
                        
                        <li>
                            <a>Disponibilidad  | En stock {{stock_inicial}}</a>
                        </li>
                    </ul>
                    <p style="text-align: justify;">
                        <input type="hidden" name="descripcion" value="{{descripcion}}">
                        DESCRIPCION: <br> {{descripcion}}
                    </p>
                    <div class="card_area d-flex justify-content-between align-items-center">
                        <div class="product_count">
                            <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                            <input class="input-number" type="text" name="cantidad" value="1" min="1" max="1000000">
                            <span class="number-increment"> <i class="ti-plus"></i></span>
                        </div>
                        <button type="submit" name="submit"value="submit" class="btn_3">Agregar al carrito</button>
                    </div>
                </div>
                {{/each}}
                </form>
                
              


            </div>
        </div>
    </div>
</div>
{{>footer}}